/* scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 100px;
}

/* animações */
/* aparecer suavemente */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* seta para baixo */
@keyframes arrowMove {
  0% {
    opacity: 0.4;
    transform: translateY(0);
  }
  100% {
    opacity: 0.9;
    transform: translateY(30px);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
