/* scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--light-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 100px;
}

/* animações */
/* aparecer suavemente */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* seta para baixo */
@keyframes arrowMove {
  0% {
    opacity: 0.4;
    transform: translateY(0);
  }
  100% {
    opacity: 0.9;
    transform: translateY(30px);
  }
}
