/* reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ancoras / a */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* listas / ul */
ul {
  list-style: none;
}

/* imagens / img */
img {
  max-width: 100%;
}

/* títulos h2 */
h2 {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
}
/* títulos h3 */
h3 {
  font-size: clamp(1.4rem, 2.5vw, 3rem);
}
