/* reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ancoras / a */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* listas / ul */
ul {
  list-style: none;
}

/* imagens / img */
img {
  max-width: 100%;
}
